@charset "UTF-8";
/*
Theme Name: Beware Template
Text Domain: Beware
Version: 1.0
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, Beware
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com

*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  color: inherit;
  font-size: inherit;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

nav {
  background: transparent;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.search-results a, .form-search .searchform button, .form-search .searchform input[type=text], .form-white textarea, .form-white input[type=text], .form-white input[type=email], .form-white input[type=url], .form-white input[type=tel], .footer-menu .social, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.mobile ul.sub-menu li.menu-item a, header.main_menu nav ul.mobile li.menu-item a, header.main_menu nav ul.mobile, header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.menu ul.sub-menu li.menu-item a, header.main_menu nav ul.menu li.menu-item a, header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:after {
  transition: 0.3s all;
}

.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

@media (min-width: 576px) {
  .content {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .content {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .content {
    padding-right: 80px;
    padding-left: 80px;
  }
  .content.center {
    max-width: 75%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.padding-left-custom, .news .slider, .our-products .slider, .events-slider .slider {
  padding-left: 15px;
}
@media (min-width: 576px) {
  .padding-left-custom, .news .slider, .our-products .slider, .events-slider .slider {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .padding-left-custom, .news .slider, .our-products .slider, .events-slider .slider {
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .padding-left-custom, .news .slider, .our-products .slider, .events-slider .slider {
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .padding-left-custom, .news .slider, .our-products .slider, .events-slider .slider {
    padding-left: 80px;
  }
}

.padding-right-custom, .slideshow div.owl-dots {
  padding-right: 15px;
}
@media (min-width: 576px) {
  .padding-right-custom, .slideshow div.owl-dots {
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .padding-right-custom, .slideshow div.owl-dots {
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .padding-right-custom, .slideshow div.owl-dots {
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .padding-right-custom, .slideshow div.owl-dots {
    padding-right: 80px;
  }
}

sep, .sep {
  display: block;
  width: 100%;
  height: 20px;
  clear: both;
}

.text-left {
  text-align: left !important;
}
.text-left * {
  text-align: left;
}

.text-center {
  text-align: center;
}
.text-center * {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.p20 {
  padding: 20px;
}

.header-top-title {
  background-color: #0E0E0E;
  height: 40px;
  line-height: 40px;
}
.header-top-title .title {
  text-align: center;
  width: 100%;
}

header.main_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header.main_menu.compact nav {
  background-color: #0E0E0E;
}
header.main_menu.compact nav .header-top-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
header.main_menu nav .content {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
}
header.main_menu nav a.custom-logo-link {
  display: block;
  flex-grow: 0;
  flex-shrink: 9;
  width: 185px;
}
header.main_menu nav a.custom-logo-link img {
  width: 185px;
  max-height: 60px;
  margin: 10px 0;
}
header.main_menu nav a.toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  height: 80px;
  line-height: 80px;
  display: none;
}
@media (min-width: 992px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  header.main_menu nav a.toggle {
    display: block;
  }
}
header.main_menu nav a.toggle i {
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
  color: #fff;
}
header.main_menu nav a.toggle i:first-of-type {
  display: block;
}
header.main_menu nav a.toggle i:last-of-type {
  display: none;
}
header.main_menu nav a.toggle.expanded i:first-of-type {
  display: none !important;
}
header.main_menu nav a.toggle.expanded i:last-of-type {
  display: block !important;
}
header.main_menu nav ul.menu {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
@media (min-width: 992px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  header.main_menu nav ul.menu {
    display: none;
  }
}
header.main_menu nav ul.menu li.menu-item {
  display: flex;
  align-items: stretch;
  position: relative;
  line-height: unset;
}
header.main_menu nav ul.menu li.menu-item:hover ul.sub-menu a {
  max-height: 100px;
  padding: 10px 30px 10px 20px;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #fff;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:hover:after {
  color: #dd001a;
}
header.main_menu nav ul.menu li.menu-item a {
  font-size: 14px;
  color: #fff;
  align-content: center;
  display: flex;
  padding: 0 20px;
  align-items: center;
  line-height: 22px;
  border-bottom: 2px solid transparent;
}
header.main_menu nav ul.menu li.menu-item a:hover {
  border-bottom-color: #dd001a;
  background-color: transparent;
  color: #dd001a;
}
header.main_menu nav ul.menu ul.sub-menu {
  position: absolute;
  background-color: #000;
  flex-wrap: wrap;
  top: 75px;
  width: 200px;
  z-index: -1;
  overflow: hidden;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item {
  display: flex;
  width: 100%;
  position: relative;
  transition: 0.3s;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #1065B0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover a {
  color: #dd001a;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:hover ul.sub-menu {
  width: 200px !important;
  opacity: 1;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item a {
  padding: 0px 30px 0 20px;
  font-size: 13px;
  color: #fff;
  line-height: 1.5 !important;
  border-bottom: 0px;
  overflow: hidden;
  max-height: 0;
  width: 100%;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #FBFEFF;
  position: absolute;
  left: 200px;
  top: 0;
  width: 0px;
  overflow: hidden;
  opacity: 0;
  z-index: -3;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu li {
  width: 200px !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: "";
}
header.main_menu nav ul.mobile {
  flex-grow: 1;
  width: 100%;
  display: block;
  justify-content: flex-end;
  align-items: stretch;
  position: absolute;
  top: 80px;
  left: 0;
  height: 0;
  background-color: #000;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (min-width: 992px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  header.main_menu nav ul.mobile {
    display: block;
  }
}
header.main_menu nav ul.mobile.expanded {
  height: calc(100vh - 80px) !important;
}
header.main_menu nav ul.mobile li.menu-item {
  position: relative;
  width: 100%;
  display: block;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #fff;
  float: right;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile li.menu-item a {
  font-size: 14px;
  color: #fff;
  align-content: center;
  display: block;
  padding: 0 20px;
  align-items: center;
  border-bottom: 2px solid transparent;
  height: 50px;
  line-height: 50px;
}
header.main_menu nav ul.mobile li.menu-item a:hover {
  border-bottom-color: #1065B0;
  background-color: transparent;
  color: #dd001a;
}
header.main_menu nav ul.mobile ul.sub-menu {
  position: static;
  background-color: #fff;
  flex-wrap: wrap;
  top: 75px;
  z-index: -1;
  margin-left: 20px;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded a {
  max-height: 50px !important;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded ul.sub-menu:not(.expanded) {
  max-height: 0px !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item {
  width: 100%;
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #1065B0;
  float: right;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover a {
  color: #dd001a;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a {
  padding: 0px 20px 0 20px;
  height: 50px;
  max-height: 0px;
  line-height: 50px;
  font-size: 13px;
  color: #fff;
  border-bottom: 0px;
  overflow: hidden;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a:hover {
  color: #dd001a !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #FBFEFF;
  overflow: hidden;
  z-index: -3;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: "";
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu.expanded a {
  max-height: 50px !important;
}

.title-tertiary {
  color: #00A48E;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
}

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
}

.d-block {
  display: block;
}

.title-group label {
  color: #00A48E;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.title-group h1, .title-group h2 {
  margin: 0;
  padding: 0;
}
.title-group h2 {
  font-size: 36px;
  line-height: 38px;
  font-weight: 600;
}
.title-group.text-white * {
  color: #fff;
}

.text-gray {
  color: rgba(0, 0, 0, 0.55);
}

.menu-spacer {
  display: block;
  height: 0px;
  width: 100%;
}

.py-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 800px) {
  .py-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.carousel-container {
  position: relative;
}
.carousel-container .arrow-left {
  z-index: 99;
  position: absolute;
  left: 0px;
  top: 100px;
  bottom: 100px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-container .arrow-left i {
  font-size: 16px;
}
.carousel-container .arrow-right {
  z-index: 99;
  position: absolute;
  right: 0px;
  top: 100px;
  bottom: 100px;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-container .arrow-right i {
  font-size: 16px;
}
.carousel-container .arrow-left:hover, .carousel-container .arrow-right:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-contact {
  background-color: #F0F9FF;
  width: 100%;
  padding: 140px 0;
  overflow: hidden;
}

.footer-menu {
  width: 100%;
  padding: 70px 0 20px 0;
  overflow: hidden;
  background-color: black;
}
.footer-menu li {
  list-style-type: none;
}
.footer-menu a {
  color: white !important;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-menu a.social-media {
  color: #dd001a !important;
  text-decoration: none !important;
  border: 1px solid #dd001a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
.footer-menu a.social-media:hover {
  background-color: #dd001a;
  color: white !important;
}
.footer-menu .social {
  float: left;
  width: 30px;
  height: 30px;
  display: block;
}
.footer-menu .social i {
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #000;
}
.footer-menu .social:hover {
  opacity: 0.6;
}

.form-white input[type=text], .form-white input[type=email], .form-white input[type=url], .form-white input[type=tel] {
  display: block;
  width: 100%;
  background-color: #fff !important;
  border: 1px solid rgba(16, 101, 176, 0.2) !important;
  padding: 10px !important;
  height: 50px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}
.form-white input[type=text]:focus, .form-white input[type=email]:focus, .form-white input[type=url]:focus, .form-white input[type=tel]:focus {
  outline: none !important;
  border: 1px solid rgba(16, 101, 176, 0.8) !important;
}
.form-white textarea {
  display: block !important;
  width: 100% !important;
  min-height: 120px !important;
  background-color: #fff !important;
  border: 1px solid rgba(16, 101, 176, 0.2) !important;
  padding: 15px 10px !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}
.form-white textarea:focus {
  outline: none !important;
  border: 1px solid rgba(16, 101, 176, 0.8) !important;
}

.accordion .accordion-content {
  display: none;
}
.accordion .accordion-content.initialized {
  display: block;
}

.text-gray ul {
  padding-left: 30px;
  list-style: unset !important;
}
.text-gray ul li {
  list-style: unset !important;
}

.form-search .searchform {
  display: flex;
  flex-wrap: nowrap;
  padding: 80px 20px;
}
.form-search .searchform input[type=text] {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(16, 101, 176, 0.2);
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 0;
}
.form-search .searchform button {
  width: 100px;
  display: block;
  background-color: #1065B0;
  border: 1px solid rgba(16, 101, 176, 0.2);
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.search-results {
  margin-bottom: 80px;
}
.search-results h4 {
  padding: 20px;
}
.search-results a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(16, 101, 176, 0.25);
}
.search-results a span:first-of-type {
  color: rgba(0, 0, 0, 0.55);
}
.search-results a span:last-of-type {
  color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.search-results a h5 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #1065B0;
}
.search-results a:hover {
  background-color: #F0F9FF;
}

.width-50 {
  max-width: 50%;
  width: 100%;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .width-50 {
    max-width: 100%;
  }
}

.ratio-5-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 5);
}

.ratio-3-2 {
  width: 100%;
  padding-bottom: calc(calc(100% * 2) / 3);
}

.twa {
  font-weight: 700;
  color: white !important;
}

.img {
  width: 100%;
  height: auto;
  margin: auto;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 65vh;
  margin-bottom: -15vh;
  z-index: -1;
  position: relative;
}
.page-banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0e0e0e;
  background: linear-gradient(0deg, #0e0e0e 0%, rgba(14, 14, 14, 0.35) 30%, rgba(14, 14, 14, 0.35) 100%);
}

.section-title {
  text-transform: uppercase;
  color: #dd001a;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
}

.section-main-title {
  font-size: 32px;
  font-weight: bolder;
}

.date {
  color: #aaa;
  font-size: 12px;
  font-weight: 600;
}

.learn-more {
  font-size: 13px;
  text-transform: uppercase;
  color: #dd001a !important;
  letter-spacing: 1px;
  font-weight: bolder;
  text-decoration: none !important;
}
.learn-more i {
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}
.learn-more:hover i {
  margin-left: 15px;
}

.big-btn {
  border: none;
  font-size: 14px;
  font-weight: bolder;
  background-color: #dd001a;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white !important;
  text-decoration: none !important;
}
.big-btn i {
  margin-left: 10px;
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}
.big-btn:hover i {
  margin-left: 15px;
  margin-right: 0;
}

.input-div {
  background-color: black;
  min-height: 50px !important;
  overflow: hidden;
}
.input-div .form-label {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px 0 10px;
  letter-spacing: 1px;
}
.input-div .form-input {
  width: 100%;
  border: none !important;
  outline: none;
  background-color: black;
  padding: 7px 10px !important;
  color: white;
  font-size: 13px !important;
  height: auto !important;
}
.input-div .form-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input-div select {
  height: 50px !important;
}
.input-div label {
  height: 50px !important;
  cursor: pointer;
}

.search-div {
  background-color: black;
  width: 300px;
}
.search-div input {
  border: none;
  background-color: black;
  outline: none;
  color: white;
}
.search-div input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-btn {
  background-color: #dd001a;
  padding: 10px 15px;
  color: white !important;
  text-decoration: none !important;
  z-index: 50;
  position: fixed;
  top: 45%;
  right: -43px;
  font-weight: 900;
  height: 35px;
  width: 120px;
  transform: rotateZ(-90deg);
}

.breadcrumbs {
  color: #dd001a;
  font-weight: 600;
}
.breadcrumbs a {
  text-transform: uppercase;
  color: #dd001a !important;
  letter-spacing: 2px;
  font-size: 12px;
}

body {
  background-color: #0E0E0E;
  color: white;
  font-size: 13px;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden !important;
}

header {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  transition: all 0.3s ease-in-out;
}
header.compact {
  background-color: #000;
}
header .top-strip {
  height: 25px;
  background-color: black;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}
header .header-menu {
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  height: 75px;
  transition: all 0.3s ease-in-out;
}
header .header-menu .logo svg {
  height: 50px;
  width: auto;
}
header .header-menu .header-links a {
  font-size: 13px;
  color: white !important;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
}
header .header-menu .header-links a.contact-us {
  border: 1px solid #dd001a;
  padding: 5px 8px;
}
header .header-menu .header-links a.contact-us:hover {
  background-color: #dd001a;
}
header .header-menu .burger-menu {
  display: none;
}
header .header-menu .burger-menu i {
  font-size: 20px;
}
header .mobile-menu {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  opacity: 0;
}
header .mobile-menu a {
  color: white !important;
  text-decoration: none !important;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
header .mobile-menu a i {
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}
header .mobile-menu a:hover i {
  margin-right: 0;
}
header .mobile-menu.initialized {
  opacity: 1;
}
header .products-list {
  background-color: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  overflow: hidden;
  opacity: 0;
}
header .products-list a {
  color: white !important;
  text-decoration: none !important;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
header .products-list a i {
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}
header .products-list a:hover i {
  margin-right: 0;
}
header .products-list.initialized {
  opacity: 1;
}
header.compact {
  height: 75px;
}
header.compact .top-strip {
  opacity: 0;
  height: 0;
}
header.compact .header-menu {
  background-color: black;
}
header.no-transitions {
  transition: unset !important;
}
header.no-transitions * {
  transition: unset !important;
}

footer {
  background-color: black;
}
footer a {
  color: white !important;
}
footer a.social-media {
  color: #dd001a !important;
  text-decoration: none !important;
  border: 1px solid #dd001a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
footer a.social-media:hover {
  background-color: #dd001a;
  color: white !important;
}

.slideshow {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.slideshow div {
  height: 100%;
  width: 100%;
}
.slideshow div.slideshow-text {
  height: unset;
  width: 95%;
  max-width: 600px;
}
.slideshow div.slideshow-text .title {
  font-size: 54px;
  font-weight: bolder;
}
@media (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .slideshow div.slideshow-text .title {
    font-size: 42px;
  }
}
.slideshow div.owl-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: auto;
}
.slideshow div.owl-dots .owl-dot {
  outline: none;
  height: 10px;
  width: 10px;
  margin: 5px 0;
}
.slideshow div.owl-dots .owl-dot span {
  display: inline-block;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.slideshow div.owl-dots .owl-dot.active span {
  background-color: white;
}
.slideshow .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0e0e0e;
  background: linear-gradient(0deg, #0e0e0e 0%, rgba(14, 14, 14, 0.35) 30%, rgba(14, 14, 14, 0.35) 100%);
}

.slider .owl-carousel, .slider .owl-stage-outer, .slider .owl-stage, .slider .owl-item {
  height: 100%;
}
.slider .product-card {
  height: 100%;
}
.slider .product-card div {
  height: 100%;
}
.slider .carousel-item {
  display: unset;
}

.events-slider .slider {
  height: 320px;
}

.our-products .slider {
  height: 330px;
}
.our-products .slider .product-card {
  border-bottom: 4px solid #dd001a;
  width: 230px;
}
.our-products .slider .product-card .overlay {
  background: #0e0e0e;
  background: linear-gradient(0deg, #0e0e0e 0%, rgba(14, 14, 14, 0.1) 100%);
}
.our-products .slider .product-card .overlay .product-info {
  height: 75px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.our-products .slider .product-card .overlay .product-info .icon {
  height: 55px;
  background-repeat: no-repeat !important;
  background-size: contain;
}
.our-products .slider .product-card .overlay .product-info .product-desc {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.our-products .slider .product-card .overlay .product-info .product-desc div {
  height: fit-content;
}
.our-products .slider .product-card .overlay .product-info .product-desc .learn-more {
  z-index: 5;
  cursor: pointer;
}
.our-products .slider .product-card:hover .product-info {
  height: 330px !important;
}
.our-products .slider .product-card:hover .product-info .product-desc {
  opacity: 1 !important;
}

.services {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
.services .image-wrapper {
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}
.services .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.services .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #0e0e0e;
  background: linear-gradient(0deg, #0e0e0e 0%, rgba(14, 14, 14, 0.35) 30%, rgba(14, 14, 14, 0.35) 70%, #0e0e0e 100%);
}
.services .services-content {
  transform: translateY(50%);
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .services .services-content {
    transform: translateY(0%);
  }
}

.service-div {
  background-color: rgba(14, 14, 14, 0.8);
}
.service-div .icon {
  width: 50px;
  height: 50px;
}
.service-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-us .address-div {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.contact-us .address-div .feather {
  color: #dd001a;
}
.contact-us .address-div .address-details {
  border-top: 1px dashed rgba(255, 255, 255, 0.15);
}
.contact-us .address-div .title-div {
  position: relative;
  cursor: pointer;
}
.contact-us .address-div .title-div:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: bold;
  padding-right: 23px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact-us .map {
  filter: grayscale(100%);
}

.academy .service-div {
  background-color: black;
}
.academy .service-div svg {
  width: 50px;
  height: 50px;
}
.academy .slideshow .overlay {
  background: #0e0e0e;
  background: linear-gradient(0deg, rgba(14, 14, 14, 0.5) 0%, rgba(14, 14, 14, 0.55) 85%, #0e0e0e 100%);
}

.products-about .design .design-div {
  background-color: black;
}
.products-about .design .design-div svg {
  width: 60px;
  height: 60px;
}
.products-about .features {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.products-about .features .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #0e0e0e;
  background: linear-gradient(0deg, #0e0e0e 0%, rgba(14, 14, 14, 0.35) 30%, rgba(14, 14, 14, 0.35) 70%, #0e0e0e 100%);
}
.products-about .features .overlay .feature-div {
  background-color: rgba(14, 14, 14, 0.8);
  text-transform: uppercase;
}
.products-about .features .overlay .feature-div svg {
  color: #dd001a;
}
.products-about .usage .usage-div {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.products-about .usage .usage-div .bullet-pts {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.products-about .usage .usage-div .bullet-pts svg {
  color: #dd001a;
}

.product-details .logo {
  width: 280px;
  height: 70px;
}
.product-details .product-info .bg-image {
  min-height: 300px;
}
.product-details .product-info .bg-image .row {
  min-height: 300px !important;
}

.article-card {
  background-color: white;
  border-bottom: 4px solid #dd001a;
  width: 330px;
}
.article-card .title {
  font-weight: bold;
  font-size: 21px;
  color: black;
}

.article-details {
  width: 50vw;
  padding-top: 100px;
}
.article-details .paragraph strong {
  color: white;
}

.fix-select {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 16px;
}
.fix-select.with-border {
  border: 1px solid #dd001a;
}
.fix-select.bg-black {
  background-color: #000;
}
.fix-select:focus {
  outline: 0;
}

.news input {
  height: unset !important;
}
.jobs .title-filter, .jobs .type-filter, .jobs .date-filter {
  max-width: 300px;
  width: 100%;
}

.our-team .slider {
  height: 300px;
}
.our-team .slider div {
  height: unset;
}
.our-team .slider .flip-card {
  width: 260px;
  height: 300px;
  perspective: 1000px;
}
.our-team .slider .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
}
.our-team .slider .flip-card .flip-card-inner .flip-card-front, .our-team .slider .flip-card .flip-card-inner .flip-card-back {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.our-team .slider .flip-card .flip-card-inner .flip-card-front img, .our-team .slider .flip-card .flip-card-inner .flip-card-back img {
  height: 120px;
  width: 120px !important;
  object-fit: cover;
  border-radius: 50%;
}
.our-team .slider .flip-card .flip-card-inner .flip-card-back {
  transform: rotateY(180deg);
}
.our-team .slider .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.event-card {
  background-color: black;
  width: 250px;
  height: 250px !important;
}
.event-card div {
  height: unset;
}
.event-card .title {
  line-height: 22px;
}
.event-card .icon div {
  height: 100px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}
.event-card .icon div img {
  height: 50px;
  width: 50px;
}

.events .events-container {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.events .events-container div:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .events .events-container .border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.events .events-container .calendar {
  white-space: nowrap;
  padding: 0 35px;
}
.events .events-container .calendar div {
  border: none;
}
.events .events-container .calendar svg {
  color: #dd001a;
  height: 40px;
  width: 40px;
}
.events .events-container .calendar .paragraph {
  font-size: 13px;
}
.events .events-container .event-details {
  width: calc(100% - 180px);
}
.events .events-container .event-details div {
  border: none;
}
.events .events-container .event-details .paragraph {
  opacity: 0.75;
}
.events .events-container .event-details .small-slider {
  position: relative;
  height: 75px;
}
.events .events-container .event-details .small-slider img {
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.events .events-container .event-details .small-slider .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}
.events .events-container .event-details .small-slider .owl-nav .owl-prev span {
  font-size: 24px;
  opacity: 0.5;
}
.events .events-container .event-details .small-slider .owl-nav .owl-prev.disabled {
  opacity: 0;
}
.events .events-container .event-details .small-slider .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}
.events .events-container .event-details .small-slider .owl-nav .owl-next span {
  font-size: 24px;
  opacity: 0.5;
}
.events .events-container .event-details .small-slider .owl-nav .owl-next.disabled {
  opacity: 0;
}

.pt-cloud-desktop {
  padding-top: 70px;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .pt-cloud-desktop {
    padding-top: unset;
  }
}

.job-div {
  border-bottom: 2px dotted rgba(255, 255, 255, 0.15);
}
.job-div .location {
  color: #aaa;
}

.diagram .diagram-bg {
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.diagram .diagram-bg span {
  font-size: 13px;
}
.diagram .diagram-bg span.red {
  color: #dd001a;
}

.cloud .list-container {
  position: relative;
}
.cloud .list-container .row:first-of-type .has-border-right:first-of-type {
  height: calc(100% - 50px);
}
.cloud .list-container .row {
  margin-bottom: unset;
  overflow: hidden;
  position: relative;
}
.cloud .list-container .row .has-border-right {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 120px);
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -1;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .row .has-border-right {
    display: none;
  }
}
.cloud .list-container .row .has-border-right:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0px;
  width: 1px;
  background-color: #dd001a;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .row .has-border-right:after {
    display: none;
  }
}
.cloud .list-container .row .has-border-right.active:after {
  height: 100%;
}
.cloud .list-container .row .has-border-bottom {
  height: 1px;
  width: calc(100% - 65px);
  right: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.15);
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .row .has-border-bottom {
    display: none;
  }
}
.cloud .list-container .row .has-border-bottom:after {
  content: "";
  height: 1px;
  width: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  background-color: #dd001a;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .row .has-border-bottom:after {
    display: none;
  }
}
.cloud .list-container .row .has-border-bottom.active:after {
  width: 100%;
}
.cloud .list-container .icon {
  height: 100px;
  width: 100px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  position: relative;
  background-color: #0E0E0E;
}
.cloud .list-container .icon.active {
  border-color: #dd001a;
}
.cloud .list-container .icon img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .icon {
    margin: auto;
  }
}
.cloud .list-container .has-icon {
  position: relative;
}
.cloud .list-container .has-icon .cloud-border-top {
  content: "";
  position: absolute;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  height: 70px;
  left: 65px;
  top: -70px;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .has-icon .cloud-border-top {
    display: none;
  }
}
.cloud .list-container .has-icon .cloud-border-top:after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #dd001a;
  height: 0;
  left: 0px;
  top: 0;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .has-icon .cloud-border-top:after {
    display: none;
  }
}
.cloud .list-container .has-icon .cloud-border-top.active:after {
  height: 100%;
}
.cloud .list-container .has-icon.active:after {
  width: 100%;
}
.cloud .list-container .has-icon:before {
  content: "";
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: -1;
  height: 0.5px;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .has-icon:before {
    display: none;
  }
}
.cloud .list-container .has-icon:after {
  content: "";
  position: absolute;
  top: 50px;
  background-color: #dd001a;
  z-index: -1;
  height: 0.5px;
  width: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .has-icon:after {
    display: none;
  }
}
.cloud .list-container .has-icon.no-before:before {
  display: none;
}
.cloud .list-container .has-icon.no-before:after {
  display: none;
}
@media (max-width: 991px) and (min-width: 768px), (max-width: 767px) and (min-width: 576px), (max-width: 575px) {
  .cloud .list-container .has-icon {
    text-align: center;
  }
}

.contact-form {
  max-width: 700px;
  margin: auto;
  width: 100%;
}
.contact-form form {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar-btn {
    display: none !important;
  }

  .search-div {
    width: 100%;
  }

  header .header-links {
    display: none !important;
  }
  header .burger-menu {
    display: unset !important;
  }

  .homepage .about-us div.w-75 {
    width: unset !important;
  }
  .homepage .about-us img {
    margin-bottom: 30px;
  }
  .homepage .services div.w-50 {
    width: unset !important;
    margin-top: 100px !important;
  }

  .about div.w-75 {
    width: unset !important;
  }
  .about img {
    margin-bottom: 30px;
  }
  .about div.py-5 {
    padding-top: unset !important;
    padding-bottom: unset !important;
  }

  .events h5.w-50 {
    width: unset !important;
  }

  .article-details {
    width: unset;
  }

  .product-details .bg-image div.p-5 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .product-details .diagram {
    padding-bottom: unset !important;
  }
  .product-details .diagram h5 {
    margin-bottom: unset !important;
  }

  .contact-us .map {
    margin-top: 50px;
  }

  .cloud .section-title {
    margin-top: 100px;
  }
  .cloud .btn-div {
    display: none;
  }
  .cloud .has-icon {
    padding-right: 15px !important;
  }
  .cloud .has-icon .icon {
    margin: auto;
  }
  .cloud .has-icon::before {
    width: 0 !important;
  }
}
.h-auto {
  height: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.ContactMapTooltip {
  color: #000;
}

.mapContent {
  filter: grayscale(0.98);
}

.informative-page {
  margin-top: 135px;
}

.course-card .description {
  opacity: 0.75;
}
.course-card img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
  border-top: 4px solid #dd001a;
}

.t-opacity-75 {
  opacity: 0.75;
}

.t-opacity-70 {
  opacity: 0.7;
}

.t-opacity-50 {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
