/*
Theme Name: Beware Template
Text Domain: Beware
Version: 1.0
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, Beware
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com

*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import "assets/scss/variables.scss";

//body{ padding: 0; margin: 0; font-size: 13px; line-height: 1.6; }
*{ color:inherit; font-size: inherit; box-sizing: border-box; font-family: 'Mulish', sans-serif;}
nav{ background: transparent; height:auto; box-shadow: 0 0 20px rgba(0,0,0,0.1); transition:0.5s; }
//h1, h2, h3, h4, h5, h6{ line-height: 1.4; }
//b,strong{ font-weight: 600; }
%transition-0{ transition: 0.15s all; }
%transition-1{ transition: 0.3s all; }
%absolute-box{ position: absolute; top:0; left:0; right:0; bottom:0; margin: auto; }


.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  //max-width: 1280px;
}

@media (min-width: 576px) {
  .content {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) {
  .content {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 992px) {
  .content {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .content {
    padding-right: 80px;
    padding-left: 80px;
    //max-width:1380px;

    &.center {
      max-width: 75%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  }
}

.padding-left-custom{
  padding-left: 15px;
  @media (min-width: 576px) {
    padding-left: 30px;
  }

  @media (min-width: 768px) {
      padding-left: 30px;
  }

  @media (min-width: 992px) {
      padding-left: 50px;
  }

  @media (min-width: 1200px) {
      padding-left: 80px;
  }

}

.padding-right-custom{
  padding-right: 15px;
  @media (min-width: 576px) {
    padding-right: 30px;
  }

  @media (min-width: 768px) {
    padding-right: 30px;
  }

  @media (min-width: 992px) {
    padding-right: 50px;
  }

  @media (min-width: 1200px) {
    padding-right: 80px;
  }

}

sep, .sep{ display: block; width: 100%; height: 20px; clear: both; }

.text-left{ text-align: left !important; *{ text-align: left; } }
.text-center{ text-align: center; *{ text-align: center; } }
.text-white{ color:$color-white; }
.text-black{ color:$color-black; }



.p20{ padding: 20px; }

.header-top-title{
  background-color: #0E0E0E;
  height:40px;
  line-height: 40px;
  .title{
    text-align: center;
    width:100%;
  }
}
header.main_menu{
  position: fixed; top:0; left:0; right: 0; z-index: 99;

  &.compact{
    nav{
      background-color: #0E0E0E;
      //ul.menu li.menu-item a{
      //  color:$color-black;
      //}
      .header-top-title{
        border-bottom:1px solid rgba($color-white,0.05);
      }
    }
  }
  nav{
    .content{ display: flex; flex-wrap: nowrap;; align-items:stretch; position: relative; }
    a.custom-logo-link{ display: block; flex-grow: 0; flex-shrink: 9; width: 185px;
      img{ width: 185px; max-height: 60px; margin: 10px 0; }
    }
    a.toggle{
      position: absolute; top:0; right:0; padding: 0; height:80px; line-height: 80px; display: none;
      @media #{$mediaquery-lg} { display: none; }
      @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm} { display: block; }
      i{ padding: 0 20px; height:80px; line-height: 80px; color:$color-white; }
      i:first-of-type{ display: block; }
      i:last-of-type{ display: none; }
      &.expanded{
        i:first-of-type{ display: none !important; }
        i:last-of-type{ display: block !important; }
      }
    }
    ul.menu{
      flex-grow: 1; width: 100%; display: flex; justify-content:flex-end; align-items:stretch;
      @media #{$mediaquery-lg} { display: flex; }
      @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm} { display: none; }
      li.menu-item{
        display: flex; align-items: stretch; position: relative; line-height: unset;
        &:hover {
          ul.sub-menu a{ max-height: 100px; padding: 10px 30px 10px 20px;  }
        }
        &.menu-item-has-children a{
          &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; padding: 1px 0 0 5px; font-size: 10px; color:$color-white; @extend %transition-1;}
          &:hover{
            border-bottom-color: transparent !important;
            &:after{
              color:$red;
            }
          }
        }
        a{
          font-size:14px; color:$color-white; align-content:center; display: flex; padding: 0 20px; align-items:center; line-height: 22px; border-bottom:2px solid transparent; @extend %transition-1;
          &:hover{ border-bottom-color: $red; background-color: transparent; color:$red; }
        }
      }

      ul.sub-menu{
        position: absolute; background-color: $color-black; flex-wrap: wrap; top:75px; width: 200px; z-index: -1;overflow: hidden;
        li.menu-item{
          display: flex; width: 100%; position: relative;transition: 0.3s;
          &.menu-item-has-children a{
            position: relative;
            &:after{ content:'\f054'; font-family: $font-awesome; font-weight: 600; font-size: 10px; color:$color-blue; position: absolute; top:0; bottom:0; right:15px; display: flex; align-items: center; }
            &:hover{ border-bottom-color: transparent !important;;  }
          }
          &:not(.menu-item-has-children) a{
            &:after{ display: none !important;; }
          }
          &:hover {
            //opacity:0.5;
            a{ color:$red; }
            ul a{ color:$color-black; }
            ul.sub-menu{ width: 200px !important; opacity: 1; }
          }
          a{
            padding:0px 30px 0 20px; font-size: 13px; color:$color-white; line-height: 1.5 !important; border-bottom:0px; @extend %transition-1; overflow: hidden; max-height: 0; width: 100%;

          }
          ul.sub-menu{
            background-color: $color-blue-verylight2; position: absolute; left:200px; top:0; width: 0px; @extend %transition-1; overflow: hidden; opacity: 0; z-index: -3;
            li{ width: 200px !important; }
            a:after{ content:''; }
          }
        }
      }
    }



    ul.mobile{
      flex-grow: 1; width: 100%; display: block; justify-content:flex-end; align-items:stretch; position: absolute;; top:80px; left:0;  height:0; background-color: $color-black; z-index: -1; overflow-x:hidden; overflow-y: scroll; @extend %transition-1;
      @media #{$mediaquery-lg} { display: none; }
      @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm} { display: block; }
      &.expanded{ height:  calc(100vh - 80px) !important; }
      li.menu-item{
        position: relative; width: 100%; display: block;
        &.menu-item-has-children a{
          &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; padding: 1px 0 0 5px; font-size: 10px; color:$color-white; float:right; }
          &:hover{
            border-bottom-color: transparent !important;;
          }
        }
        a{
          font-size:14px; color:$color-white; align-content:center; display: block; padding: 0 20px; align-items:center; border-bottom:2px solid transparent; @extend %transition-1;
          height:50px; line-height: 50px;
          &:hover{ border-bottom-color: $color-blue; background-color: transparent; color:$red; }
        }
      }
      ul.sub-menu{
        position: static; background-color: $color-white; flex-wrap: wrap; top:75px;  z-index: -1; margin-left: 20px;
        &.expanded{
          a{ max-height:50px !important; }
          ul.sub-menu:not(.expanded){ max-height: 0px !important; }
        }
        li.menu-item{
          width: 100%; position: relative;
          &.menu-item-has-children a{
            position: relative;
            &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; font-size: 10px; color:$color-blue; float:right; display: flex; align-items: center; }
            &:hover{ border-bottom-color: transparent !important;;  }
          }
          &:not(.menu-item-has-children) a{
            &:after{ display: none !important;; }
          }
          &:hover {
            a{ color:$red; }
            ul a{ color:$color-black; }
          }
          a{
            padding:0px 20px 0 20px; height:50px; max-height: 0px; line-height: 50px; font-size: 13px; color:$color-white; border-bottom:0px; @extend %transition-1; overflow: hidden;
            &:hover{ color:$red !important; }
          }
          ul.sub-menu{
            background-color: $color-blue-verylight2; @extend %transition-1; overflow: hidden; z-index: -3;
            a{  @extend %transition-1; }
            a:after{ content:''; }
            &.expanded{
              a{ max-height:50px !important; }
            }
          }
        }
      }
    }
  }
}



.title-tertiary{
  color: #00A48E;
  font-size:14px;
  font-weight: 600;
  text-transform: uppercase;
}


.ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
}

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
}

.d-block{
  display:block;
}
.title-group{

  label{ color:$color-tertiary;  text-transform: uppercase; margin-bottom: 10px; display: block; font-size: 14px; font-weight: 600;}
  h1,h2{ margin: 0; padding: 0; }
  h2{ font-size: 36px; line-height:38px; font-weight: 600; }
  &.text-white *{ color:$color-white; }
}
.text-gray{
  color:$color-gray;
}

.menu-spacer{ display: block; height:0px; width: 100%; }




.py-section{
  padding-top:80px;
  padding-bottom: 80px;
  @media #{$mediaquery-mobile} {
    padding-top:50px;
    padding-bottom: 50px;
  }
}






.carousel-container{
  position: relative;
  .arrow-left{ z-index: 99; position: absolute; left:0px; top: 100px; bottom: 100px; width: 50px; text-align: center; display: flex; align-items:center; justify-content:center; i{ font-size: 16px; } }
  .arrow-right{ z-index: 99; position: absolute; right:0px; top: 100px; bottom: 100px; width: 50px; text-align: center;  display: flex; align-items:center; justify-content:center;  i{ font-size: 16px; } }
  .arrow-left:hover,.arrow-right:hover{ background-color: rgba($color-black,0.1); }
}







.footer-contact{
  background-color: $color-blue-verylight; width: 100%; padding: 140px 0; overflow: hidden;
}

.footer-menu{
  width: 100%;
  padding: 70px 0 20px 0;
  overflow: hidden;
  background-color: black;
  li{
    list-style-type: none;
  }
  a {
    color: white !important;
    display: block;
    padding-top:5px;
    padding-bottom:5px;
    &.social-media {
      color: $red !important;
      text-decoration: none !important;
      border: 1px solid $red;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 16px;
      transition: $transition-fast;
      &:hover {
        background-color: $red;
        color: white !important;
      }
    }
  }


  .social{
    float:left; width: 30px; height:30px; display: block; @extend %transition-1;
    i{ width: 30px; text-align: center; height:30px; line-height: 30px; color:$color-black; }
    &:hover{ opacity: 0.6; }
  }
}

.form-white{
  input[type=text],  input[type=email],input[type=url],  input[type=tel]{
    display: block; width: 100%; background-color: $color-white !important; border:1px solid rgba($color-blue,0.2) !important; padding: 10px !important; height:50px !important; border-radius: 5px !important; @extend %transition-1; font-size: 13px !important;
    &:focus{
      outline: none !important;  border:1px solid rgba($color-blue,0.8) !important;
    }
  }

  textarea{
    display: block !important; width: 100% !important; min-height: 120px !important; background-color: $color-white !important; border:1px solid rgba($color-blue,0.2) !important; padding: 15px 10px !important; border-radius: 5px !important; @extend %transition-1;  font-size: 13px !important;
    &:focus{
      outline: none !important;  border:1px solid rgba($color-blue,0.8) !important;
    }
  }
}


























//template specific SCSS
//.accordion{
//  position: absolute; z-index: 20; padding: 0px !important;
//  a{
//    display: block; border:1px solid rgba($color-blue,0.15); height:50px; line-height: 50px; padding: 0 30px 0 20px; border-radius: 5px; color:$color-black; font-size: 15px;position: relative; @extend %transition-1;
//    &:after{ font-family: $font-awesome; content:"\f078"; position: absolute; right:20px; top:0; bottom:0; color:$color-blue; line-height: 50px; font-weight: 700; font-size: 12px;  @extend %transition-1; }
//    &:hover{ border:1px solid rgba($color-blue,1); }
//  }
//  .text{ max-height: 0; overflow: hidden; @extend %transition-1; padding: 0 20px; background-color: $color-white; }
//  &.expanded{
//    box-shadow: 0 0 20px rgba($color-black,0.1);
//    a{ background-color: $color-blue; color:$color-white; &:after{ transform: rotate(180deg); color:$color-white; } }
//    .text{ max-height: 500px; padding: 20px 20px; }
//  }
//}

.accordion{
  .accordion-item{
    &.active{
      .accordion-title {
        //&:after {
        //    transform: rotate(90deg) !important;
        //}
      }
    }
  }

  .accordion-content{
    display:none;
    &.initialized{
      display:block;
    }
  }
}

.text-gray{
  ul{ padding-left: 30px; list-style: unset !important; }
  ul li{ list-style: unset !important; }
}



.form-search{
  .searchform{
    display: flex; flex-wrap: nowrap;
    padding: 80px 20px;
    input[type=text]{
      width: 100%; display: block; background-color: $color-white; border:1px solid rgba($color-blue,0.2); padding: 10px; height:50px; border-radius: 5px; @extend %transition-1;
      border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0;
    }
    button{
      width: 100px; display: block; background-color: $color-blue; border:1px solid rgba($color-blue,0.2); padding: 10px; height:50px; border-radius: 5px; @extend %transition-1; color:$color-white;
      border-top-left-radius: 0px; border-bottom-left-radius: 0px;
    }
  }
}


.search-results{
  margin-bottom: 80px;
  h4{ padding: 20px; }
  a{
    display:block; padding: 20px; border-bottom:1px solid rgba($color-blue,0.25); @extend %transition-1;
    span:first-of-type{ color:$color-gray; }
    span:last-of-type{ color:$color-gray2; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
    h5{ padding: 0; margin:0; font-size: 18px; color:$color-blue; }
    &:hover{ background-color: $color-blue-verylight; }
  }
}


.width-50{
  max-width:50%;
  width:100%;
  @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
    max-width:100%;
  }
}


.ratio-5-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 5);
}


.ratio-3-2 {
  width: 100%;
  padding-bottom: calc(calc(100% * 2) / 3);
}




.twa {
  font-weight: 700;
  color: white !important;
}

.img {
  width: 100%;
  height: auto;
  margin: auto;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 65vh;
  margin-bottom: -15vh;
  z-index: -1;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,0.35) 30%, rgba(14,14,14,0.35) 100%);
  }
}

.section-title {
  text-transform: uppercase;
  color: $red;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight:bold;
}

.section-main-title{
  font-size:32px;
  font-weight:bolder;
}

.date {
  color: #aaa;
  font-size: 12px;
  font-weight:600;
}

//.paragraph {
//  color: rgba($color: white, $alpha: .75);
//}

.learn-more {
  font-size: 13px;
  text-transform: uppercase;
  color: $red !important;
  letter-spacing: 1px;
  font-weight: bolder;
  text-decoration: none !important;
  i {
    margin-left: 10px;
    transition: $transition-fast;
  }
  &:hover {
    i {
      margin-left: 15px;
    }
  }
}

.big-btn {
  border: none;
  font-size: 14px;
  font-weight:bolder;
  background-color: $red;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white !important;
  text-decoration: none !important;
  i {
    margin-left: 10px;
    margin-right: 5px;
    transition: $transition-fast;
  }
  &:hover {
    i {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

.input-div {
  background-color: black;
  min-height: 50px !important;
  overflow: hidden;
  .form-label {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px 0 10px;
    letter-spacing: 1px;
  }
  .form-input {
    width: 100%;
    border: none !important;
    outline: none;
    background-color: black;
    padding: 7px 10px !important;
    color: white;
    font-size:13px !important;
    height:auto !important;
    &::placeholder {
      color: rgba($color: white, $alpha: .5);
    }
  }
  select {
    height: 50px !important;
  }
  label {
    height: 50px !important;
    cursor: pointer;
  }
}

.search-div {
  background-color: black;
  width: 300px;
  input {
    border: none;
    background-color: black;
    outline: none;
    color: white;
    &::placeholder {
      color: rgba($color: white, $alpha: .5);
    }
  }
}

.sidebar-btn {
  background-color: $red;
  padding: 10px 15px;
  color: white !important;
  text-decoration: none !important;
  z-index: 50;
  position: fixed;
  top: 45%;
  right: -43px;
  font-weight: 900;
  height: 35px;
  width: 120px;
  transform: rotateZ(-90deg);
}

.breadcrumbs {
  color: $red;
  font-weight: 600;
  a {
    text-transform: uppercase;
    color: $red !important;
    letter-spacing: 2px;
    font-size: 12px;
  }
}

// Main CSS

body {
  background-color: $grey;
  color: white;
  font-size: 13px;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden !important;
}

header {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  transition: $transition-regular;
  &.compact{
    background-color: $color-black;
  }
  .top-strip {
    height: 25px;
    background-color: black;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 10px;
    transition: $transition-regular;
  }
  .header-menu {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    height: 75px;
    transition: $transition-regular;
    .logo {
      svg {
        height: 50px;
        width: auto;
      }
    }
    .header-links {
      a {
        font-size: 13px;
        color: white !important;
        text-decoration: none !important;
        transition: $transition-fast;
        &.contact-us {
          border: 1px solid $red;
          padding: 5px 8px;
          &:hover {
            background-color: $red;
          }
        }
      }
    }
    .burger-menu {
      display: none;
      i {
        font-size: 20px;
      }
    }
  }
  .mobile-menu {
    background-color: black;
    border-bottom: 1px solid rgba($color: white, $alpha: .15);
    overflow: hidden;
    opacity: 0;
    a {
      color: white !important;
      text-decoration: none !important;
      border-top: 1px solid rgba($color: white, $alpha: .15);
      i {
        margin-right: 15px;
        transition: $transition-fast;
      }
      &:hover i {
        margin-right: 0;
      }
    }
    &.initialized {
      opacity: 1;
    }
  }
  .products-list {
    background-color: black;
    border-bottom: 1px solid rgba($color: white, $alpha: .15);
    overflow: hidden;
    opacity: 0;
    a {
      color: white !important;
      text-decoration: none !important;
      border-top: 1px solid rgba($color: white, $alpha: .15);
      i {
        margin-right: 15px;
        transition: $transition-fast;
      }
      &:hover i {
        margin-right: 0;
      }
    }
    &.initialized {
      opacity: 1;
    }
  }
  &.compact {
    height: 75px;
    .top-strip {
      opacity: 0;
      height: 0;
    }
    .header-menu {
      background-color: black;
    }
  }
  &.no-transitions {
    transition: unset !important;
    * {
      transition: unset !important;
    }
  }
}

footer {
  background-color: black;
  a {
    color: white !important;
    &.social-media {
      color: $red !important;
      text-decoration: none !important;
      border: 1px solid $red;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 16px;
      transition: $transition-fast;
      &:hover {
        background-color: $red;
        color: white !important;
      }
    }
  }
}

.slideshow {
  position: relative;
  height: 100vh;
  width: 100vw;
  div {
    height: 100%;
    width: 100%;
    &.slideshow-text {
      height: unset;
      width: 95%;
      max-width:600px;
      .title{
        font-size:54px;
        font-weight: bolder;
        @media #{$mediaquery-sm},#{$mediaquery-xsm}{
          font-size:42px;
        }
      }
    }
    &.owl-dots {
      position: absolute;
      right: 0;
      bottom: 0;
      //width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: auto;
      @extend .padding-right-custom;
      .owl-dot {
        outline: none;
        height: 10px;
        width: 10px;
        margin: 5px 0;
        span {
          display: inline-block;
          border-radius: 50%;
          height: 100%;
          width: 100%;
          background-color: rgba($color: white, $alpha: .5);
        }
        &.active span {
          background-color: white;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,0.35) 30%, rgba(14,14,14,0.35) 100%);
  }
}

.slider {
  .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item{
    height: 100%;
  }

  .product-card{
    height: 100%;
    div{
      height: 100%;
    }
  }
  .carousel-item {
    display: unset;
  }

}

.events-slider{
  .slider{
    height: 320px;
    @extend .padding-left-custom;
  }
}


.our-products {
  .slider {
    @extend .padding-left-custom;
    height: 330px;
    .product-card {
      border-bottom: 4px solid $red;
      width: 230px;
      .overlay {
        background: rgb(14,14,14);
        background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,0.1) 100%);
        .product-info {
          height: 75px;
          width: 100%;
          padding: 20px;
          overflow: hidden;
          transition: $transition-regular;
          .icon {
            height: 55px;
            background-repeat: no-repeat !important;
            background-size: contain;
          }
          .product-desc {
            div {
              height: fit-content;
            }
            opacity: 0;
            transition: $transition-regular;
            .learn-more {
              z-index: 5;
              cursor: pointer;
            }
          }
        }
      }
      &:hover {
        .product-info {
          height: 330px !important;
          .product-desc {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

.services {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  .image-wrapper{
    height: 100vh;
    position: absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    img{
      height:100%;
      width:100%;
      object-fit: cover;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,0.35) 30%, rgba(14,14,14,0.35) 70%, rgba(14,14,14,1) 100%);

  }
  .services-content{
      transform: translateY(50%);
    @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
      transform: translateY(0%);
    }
  }
}
.service-div {
  background-color: rgba($color: $grey, $alpha: .8);
  .icon{
    width: 50px;
    height: 50px;
  }
  img {
    width:100%;
    height:100%;
    object-fit: contain;
  }
}

.contact-us {
  .address-div {
    background-color: black;
    border: 1px solid rgba($color: white, $alpha: .15);
    .feather {
      color: $red;
    }
    .address-details {
      border-top: 1px dashed rgba($color: white, $alpha: .15);
    }
    .title-div{
      position:relative;
      cursor:pointer;
      &:after{
        content:'\f078';
        font-family: $font-awesome;
        position:absolute;
        font-weight: bold;
        padding-right:23px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .map {
    filter: grayscale(100%);
  }
}

.academy {
  .service-div {
    background-color: black;
    svg {
      width: 50px;
      height: 50px;
    }
  }
  .slideshow .overlay {
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,0.5) 0%, rgba(14,14,14,0.55) 85%, rgba(14,14,14,1) 100%);
  }
}

.products-about {


  .design {
    .design-div {
      background-color: black;
      svg {
        width: 60px;
        height: 60px;
      }
    }
  }
  .features {
    width: 100vw;
    height: 100vh;
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: rgb(14,14,14);
      background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,0.35) 30%, rgba(14,14,14,0.35) 70%, rgba(14,14,14,1) 100%);
      .feature-div {
        background-color: rgba($color: $grey, $alpha: .8);
        text-transform: uppercase;
        svg {
          color: $red;
        }
      }
    }
  }
  .usage {
    .usage-div {
      background-color: black;
      border: 1px solid rgba($color: white, $alpha: .15);
      .bullet-pts {
        border-top: 1px solid rgba($color: white, $alpha: .15);
        svg {
          color: $red;
        }
      }
    }
  }
}

.product-details {
  .logo{
    width:280px;
    height:70px;
  }
  .product-info {
    .bg-image {
      min-height: 300px;
      .row {
        min-height: 300px !important;
      }
    }

  }
}

.article-card {
  background-color: white;
  border-bottom: 4px solid $red;
  width: 330px;

  .title{
    font-weight:bold;
    font-size:21px;
    color: black;
  }
}

.article-details {
  width: 50vw;
  padding-top:100px;
  .paragraph {
    strong {
      color: white;
    }
  }
}

.fix-select{
  background-color: transparent;
  border:0;
  font-weight: bold;
  font-size:16px;
  &.with-border{
    border:1px solid $red;
  }
  &.bg-black{
    background-color: $color-black;
  }
  &:focus{
    outline:0;
  }
}
.news{
  input{
    height:unset !important;
  }
  .slider{
    @extend .padding-left-custom;
  }
}
.jobs{
  .title-filter, .type-filter,.date-filter{
    max-width:300px;
    width:100%;
  }
}


.our-team {
  .slider {
    height: 300px;
    div {
      height: unset;
    }
    .flip-card {
      width: 260px;
      height: 300px;
      perspective: 1000px;
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: $transition-regular;
        transform-style: preserve-3d;
        .flip-card-front, .flip-card-back {
          background-color: black;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          img {
            height: 120px;
            width: 120px !important;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .flip-card-back {
          transform: rotateY(180deg);
        }
      }
      &:hover {
        .flip-card-inner {
          transform: rotateY(180deg);
        }
      }
    }
  }
}

.event-card {
  background-color: black;
  width: 250px;
  height: 250px !important;
  div {
    height: unset;
  }
  .title{
    line-height:22px;
  }
  .icon {
    div {
      height: 100px;
      width: 100px;
      border: 1px solid rgba($color: white, $alpha: .15);
      border-radius: 50%;
      img {
        height: 50px;
        width: 50px;
      }
    }
  }
}

.events {
  .events-container {
    border: 1px solid rgba($color: white, $alpha: .15);
    div:first-child {
      border-right: 1px solid rgba($color: white, $alpha: .15);
    }
    .border-bottom{
      @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
        border-bottom: 1px solid rgba($color: white, $alpha: .15);
      }
    }
    .calendar {
      white-space: nowrap;
      padding: 0 35px;
      div {
        border: none;
      }
      svg {
        color: $red;
        height: 40px;
        width: 40px;
      }
      .paragraph {
        font-size: 13px;
      }
    }
    .event-details {
      width: calc(100% - 180px);
      div {
        border: none;
      }
      .paragraph{
        opacity:0.75;
      }
      .small-slider {
        position:relative;
        height: 75px;
        img {
          height: 75px;
          width: 75px;
          object-fit: cover;
        }
        .owl-nav{
          .owl-prev{
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            left:-15px;
            span{
              font-size:24px;
              opacity:0.5;
            }
            &.disabled{
              opacity:0;
            }
          }
          .owl-next{
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            right:-15px;
            span{
              font-size:24px;
              opacity:0.5;
            }
            &.disabled{
              opacity:0;
            }
          }
        }
      }
    }
  }
}

.pt-cloud-desktop{
  padding-top:70px;
  @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm} {
    padding-top:unset;
  }
}
.job-div {
  border-bottom: 2px dotted rgba($color: white, $alpha: .15);
  .location {
    color: #aaa;
  }
}

.diagram {
  .diagram-bg {
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    span {
      font-size: 13px;
      &.red {
        color: $red;
      }
    }
  }
}

.cloud {
  .list-container {
    position: relative;
    .row:first-of-type{
      .has-border-right:first-of-type{
        height: calc(100% - 50px);
      }
    }
    .row{
      margin-bottom:unset;
      overflow: hidden;
      position: relative;


      .has-border-right{
        position: absolute;
        right: 0;
        bottom: 0;
        height: calc(100% - 120px);
        width: 1px;
        background-color: rgba($color: white, $alpha: .15);
        z-index: -1;
        @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
          display: none;
        }
        &:after {
          content:"";
          position: absolute;
          right: 0;
          top: 0;
          height:0px;
          width: 1px;
          background-color: $red;
          z-index: -1;
          transition: $transition-regular;
          @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
            display: none;
          }
        }
        &.active{
          &:after{
            height: 100%;
          }
        }
      }
      .has-border-bottom{
        height:1px;
        width: calc(100% - 65px);
        right:0;
        position:absolute;
        bottom:0;
        background-color: rgba($color: white, $alpha: .15);
        @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
          display:none;
        }
        &:after{
          content:"";
          height:1px;
          width: 0;
          right:0;
          position:absolute;
          bottom:0;
          background-color: $red;
          transition:$transition-regular;
          @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
            display:none;
          }
        }
        &.active{
          &:after {
            width: 100%;
          }
        }
      }

    }

      .icon {
        height: 100px;
        width: 100px;
        border: 1px solid rgba($color: white, $alpha: .15);
        border-radius: 50%;
        position: relative;
        background-color: $grey;
        &.active{
          border-color: $red;
        }

        img {
          height: 50px;
          width: 50px;
          object-fit: contain;
        }
        @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
          margin:auto;
        }

      }

      .has-icon {
        position:relative;
        .cloud-border-top{
          content:"";
          position:absolute;
          width:1px;
          background-color: rgba($color: white, $alpha: .15);
          height:70px;
          left:65px;
          top:-70px;
          @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
            display:none;
          }
          &:after{
            content:"";
            position:absolute;
            width:1px;
            background-color: $red;
            height:0;
            left:0px;
            top:0;
            @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
              display:none;
            }
          }
          &.active{
            &:after{
              height:100%;
            }
          }
        }

        &.active {
          &:after {
            width:100%;
          }
        }
        &:before {
          content: '';
          position: absolute;
          top: 50px;
          width: 100%;
          background-color: rgba($color: white, $alpha: .15);
          z-index: -1;
          height: 0.5px;
          @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
            display:none;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 50px;
          background-color: $red;
          z-index: -1;
          height: 0.5px;
          width:0;
          transition: $transition-regular;
          @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
            display:none;
          }
        }

        &.no-before{
          &:before{
            display: none;
          }
          &:after{
            display: none;
          }
        }
        @media #{$mediaquery-md},#{$mediaquery-sm},#{$mediaquery-xsm}{
          text-align: center;
        }
      }

  }
}
.contact-form {
  max-width: 700px;
  margin: auto;
  width: 100%;
  form{
    width:100%;
  }
}


// Mobile

@media screen and(max-width: 700px) {
  .sidebar-btn {
    display: none !important;
  }

  .search-div {
    width: 100%;
  }

  header {
    .header-links {
      display: none !important;
    }
    .burger-menu {
      display: unset !important;
    }
  }

  .homepage {
    .about-us {
      div.w-75 {
        width: unset !important;
      }
      img {
        margin-bottom: 30px;
      }
    }
    .services {
      div.w-50 {
        width: unset !important;
        margin-top: 100px !important;
      }
    }
  }

  .about {
    div.w-75 {
      width: unset !important;
    }
    img {
      margin-bottom: 30px;
    }
    div.py-5 {
      padding-top: unset !important;
      padding-bottom: unset !important;
    }
  }

  .events {
    h5.w-50 {
      width: unset !important;
    }
  }

  .article-details {
    width: unset;
  }

  .product-details {
    .bg-image div.p-5 {
      padding-right: 15px !important;
      padding-left: 15px !important;
    }
    .diagram {
      padding-bottom: unset !important;
      h5 {
        margin-bottom: unset !important;
      }
    }
  }

  .contact-us {
    .map {
      margin-top: 50px;
    }
  }




  .cloud {
    .section-title {
      margin-top: 100px;
    }
    .btn-div{
      display: none;
    }
    .has-icon {
      padding-right: 15px !important;
      .icon {
        margin: auto;
      }
      &::before {
        width: 0 !important;
      }
    }
  }
}

.h-auto{
  height:auto;
}

.w-100{
  width:100%;
}
.h-100{
  height:100%;
}

.ContactMapTooltip{
  color:$color-black;
}

.mapContent{
  filter:grayscale(0.98);
}

.informative-page{
  margin-top:135px;

}

.course-card{
  .title{

  }
  .description{
    opacity:0.75;
  }
  img{
    aspect-ratio: 3 / 2;
    object-fit: cover;
    width:100%;
    border-top: 4px solid $red;
  }
}

.t-opacity-75{
  opacity:0.75;
}
.t-opacity-70{
  opacity:0.7;
}
.t-opacity-50{
  opacity:0.5;
}