$color-white:#fff;
$color-black:#000;

$color-gray:rgba($color-black,0.55);
$color-gray2:rgba($color-black,0.35);

$color-blue:#1065B0;
$color-blue-verylight:#F0F9FF;
$color-blue-verylight2:#FBFEFF;
$color-tertiary:#00A48E;

$grey: #0E0E0E;
$blue: #08548B;
//$red: #E40022;
$red: #dd001a;
$transition-regular: all .3s ease-in-out;
$transition-fast: all .2s ease-in-out;


$font-awesome: "Font Awesome 5 Free";

$mediaquery-small: "(max-width: 1281px) and (min-width: 1101px)";
$mediaquery-smaller: "(max-width: 1100px) and (min-width: 801px)";
$mediaquery-mobile: "(max-width: 800px)";


//$mediaquery-lg: "(max-width: 1199px) and (min-width: 992px)";
$mediaquery-lg: "(min-width: 992px)";
$mediaquery-md: "(max-width: 991px) and (min-width: 768px)";
$mediaquery-sm: "(max-width: 767px) and (min-width: 576px)";
$mediaquery-xsm: "(max-width: 575px)";
